<h2 class="{{moduleName}}-vs">{{attacker.name}} vs. {{defender.name}}</h2>

<div class="{{moduleName}}-attacker">
    <b>{{attacker.name}}</b>
    <div>Skill: {{attacker.skill}}</div>
    <div>Result: {{attacker.total}}</div>
</div>
<hr>
<div class="{{moduleName}}-defender">
    <b>{{defender.name}}</b>
    <div>Skill: {{defender.skill}}</div>
    <div>Result: {{defender.total}}</div>
</div>
